body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav.navbar {
    background-color: #404449;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header nav.navbar .nav-link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin-right: 20px;
}

header nav.navbar .nav-link:hover {
    color: #64f379; /*color verde claro en formato hexadecimal*/
}

header nav.navbar .navbar-brand img {
    
    height: 50px;
    margin-right: 20px;
    /*margin-left: 2rem;
    margin-right: 2rem;  espacio entre el logo y el texto 
    height: 50px;*/
}

.conf-bs-as {
    color: white;
    font-size: 16px;
}

.hamburguesa {
    background-color: #28323b;
   /* margin-top: 1.0em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;*/
}

header nav.navbar ul.navbar-nav {
    list-style: none;
    padding: 0;
}

header nav.navbar ul.navbar-nav li.nav-item {
    display: inline;
}

.oscurecer-imagen{
    filter: brightness(0.5);
    /*filter: opacity(0.5);*/
   /*linear-gradient(rgba(0, 0, 0, 0.5));*/
}


.conoce-a-los{

    font-family: Helvetica,sans-serif;
    font-size: 0.85em;
    color: #555252;

}
.oradores{
    font-family: Helvetica,sans-serif;
    font-size: 1.50em;
    color: #2f2d2d;
}

.cards{
    border-radius: 0.5em;

}

.img-card{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#conocermas{
    margin-left: 3em;
    padding: 0;
}

#botoncito.btn-info{
    background-color: #05a4a9 !important;
    border: #58b4a4 !important;
    margin-bottom: 3em !important;
}

#botoncito.btn-info:active{
    background-color: #073437 !important;
    border: #074660 !important;
    color: aliceblue;
}

footer{
    margin-top: 3em;
    min-height: 5em;
    /*background-color: #404449;*/
    background-image: linear-gradient(rgb(33, 72, 89),rgb(11, 69, 88));
}

