body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav.navbar {
    background-color: #404449;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header nav.navbar .nav-link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin-right: 20px;
}

header nav.navbar .nav-link:hover {
    color: #64f379; /*color verde claro en formato hexadecimal*/
}

header nav.navbar .navbar-brand img {
    
    height: 50px;
    margin-right: 20px;
    /*margin-left: 2rem;
    margin-right: 2rem;  espacio entre el logo y el texto 
    height: 50px;*/
}

.conf-bs-as {
    color: white;
    font-size: 16px;
}

.hamburguesa {
    background-color: #28323b;
   /* margin-top: 1.0em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;*/
}

header nav.navbar ul.navbar-nav {
    list-style: none;
    padding: 0;
}

header nav.navbar ul.navbar-nav li.nav-item {
    display: inline;
}

.oscurecer-imagen{
    filter: brightness(0.5);
    /*filter: opacity(0.5);*/
   /*linear-gradient(rgba(0, 0, 0, 0.5));*/
}


.conoce-a-los{

    font-family: Helvetica,sans-serif;
    font-size: 0.85em;
    color: #555252;

}
.oradores{
    font-family: Helvetica,sans-serif;
    font-size: 1.50em;
    color: #2f2d2d;
}

.cards{
    border-radius: 0.5em;

}

.img-card{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#conocermas{
    padding: 2px 2px;
}

.btn-info{
    background-color: #05a4a9 !important;
    border: #58b4a4 !important;
    margin-bottom: 3em !important;
}

.container-fluid{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

/*.row {
    width: 100%; 
}*/

.imagen-bs-octubre {
    padding:0;
    width: 50%;
    margin: 0;
    flex: 0 0 50%;
    object-fit: cover;
}

.text.bs-octubre-text {
    margin: 0;
    padding:2em;
    background-color: #404449;
    color: white; 
    width: 50%;
    /*flex: 0 0 70%;*/
}

.bs-octubre-rectangulo{
    height: auto;
    /*width: 80%; */
    flex: 0 0 50%;
}

#comprar-tickets {
    margin-right: 1em;
    background-color: #85f395;
    border-color: #3ff45a;
    color: rgb(16, 22, 26)
}

.btn-info:active{
    margin-right: 1em !important;
    background-color: #85f395!important;
    border-color: #3ff45a !important;
    color: rgb(16, 22, 26)!important;
}

.recordatorio-text-area{
    font-weight: 300;
    font: 0.95em sans-serif;
    color: #8a8686;
    font-stretch: semi-expanded;
}

.bs-octubre-text{
    font-size: smaller;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    align-items: center;
    color: #000000;
}

#rectangulo-botonera{
    margin-top: 0%;
    margin-bottom:5%;
    padding-top:5%;
    padding-bottom:5%;
   background-color: #044e68;
    z-index: 80; 
    box-sizing: border-box;
}

#quiero-ser-orador {
    margin-right: 1em;
}

u {

    color: #3e413e;
    text-decoration-style: dotted;
    text-underline-offset:0.3em;
}

footer{
    margin-top: 3em;
    min-height: 5em;
    /*background-color: #404449;*/
    background-image: linear-gradient(rgb(33, 72, 89),rgb(11, 69, 88));
}

a.nav-link{
    color: #ffffff;
}

a.nav-link:hover{
    color: #97f21f;
}

/* ************************* BUY TICKETS ******************************** */

.container-datos {
    width: 80%; /* Ejemplo: 80% de ancho de la ventana */
    height: auto; /* Ejemplo: 60% de la altura de la ventana */
    margin: 0 auto; /* Centrar horizontalmente en la pantalla */
    padding: 20px;
}
/*COLOR INPUT #cce5ff*/

#total{
    background-color: #cce5ff;
    height: 3rem;
}

/* Márgenes para el contenedor de los botones */
.container-datos {
    margin: 20px;
}

/* Márgenes para los elementos del formulario */
.form-group {
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px; /* Agregar margen derecho a los botones */
    margin-bottom: 10px; /* Agregar margen inferior a los botones */
    background-color:#98c93e;
    border-style: none;
}

.card-title-custom {
    color: black !important; /* Color de texto negro */
    font-size: 24px !important;
    font-weight: 400 !important; /* Tamaño de fuente personalizado */
}

.card-text-big-custom{
    color: black !important; /* Color de texto negro */
    font-size: 20px !important;
    font-weight: 400 !important; /* Tamaño de fuente personalizado */

}

.card-text-medium-custom {
    color: rgb(12, 12, 12) !important; /* Color de texto negro */
    font-size: 14px !important;
    font-weight: lighter !important; /* Tamaño de fuente personalizado */
}

.porcentaje-black{
    font: 500;
    color: #000000!important;
}